version: "3.8"

services:
    app-blue:
        image: ghcr.io/${GITHUB_REPOSITORY_OWNER}/app:latest
        container_name: app-blue
        ports:
            - "5001:5000"
        environment:
            - NODE_ENV=production
            - PORT=5000
            - HOSTNAME=0.0.0.0
        networks:
            - user-a-network
        restart: always

    app-green:
        image: ghcr.io/${GITHUB_REPOSITORY_OWNER}/app:latest
        container_name: app-green
        ports:
            - "5002:5000"
        environment:
            - NODE_ENV=production
            - PORT=5000
            - HOSTNAME=0.0.0.0
        networks:
            - user-a-network
        restart: always

networks:
    user-a-network:
        name: ddk_user-a-network
        driver: bridge
